header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3.5rem;  /* Header height */
    text-align: center;
    color: white;
    line-height: 3.5rem;
}

header h1.js-title1 {
    display: inline-block;
    margin: 0 auto;
    font-size: 38px;
    vertical-align: center;
}

header h1.js-title1 span {
    font-size:24.5px;
}
